---
import Layout from "./Layout.astro";
import LatestPosts from "../components/blog/LatestPosts.astro";

const { frontmatter, url } = Astro.props;
---

<Layout
    title={frontmatter.title}
    description={frontmatter.description}
    image={frontmatter.image?.url}
    articleDate={frontmatter.date}
    author={frontmatter.author}
>
    <header>
        <div class="container">
            <h1 class="h2">{frontmatter.title}</h1>
            <p>
                By {frontmatter.author} • {
                    new Date(frontmatter.date).toLocaleDateString()
                }
            </p>
            {
                frontmatter.image && (
                    <img
                        style="border-radius: 16px; margin-top: 2rem;"
                        src={frontmatter.image.url}
                        alt={frontmatter.image.alt}
                    />
                )
            }
        </div>
    </header>

    <div class="post-content">
        <div class="content">
            <slot />
        </div>
    </div>

    <LatestPosts currentUrl={url} />
</Layout>
